<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="bg-neutral-50 pt-24 pb-12 px-6 text-center">
      <h1 id="animated-text" class=" animated-text mt-16 mb-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">
        Top deal in the industry <br /><span class="text-primary">for your junkyard</span>
      </h1>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  
  <section class="bg-[#f5f5f5] mt-3">
    <div class="max-w-desktop mx-auto px-4 lg:px-11 py-5 flex flex-col lg:flex-row gap-2">
        <div class="w-full lg:w-1/2 animated-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam dicta est, itaque natus facere ratione, repellat voluptas labore harum pariatur recusandae non esse ipsa ad molestias doloribus eum ducimus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam dicta est, itaque natus facere ratione, repellat voluptas labore harum pariatur recusandae non esse ipsa ad molestias doloribus eum ducimus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam dicta est, itaque natus facere ratione, repellat voluptas labore harum pariatur recusandae non esse ipsa ad molestias doloribus eum ducimus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam dicta est, itaque natus facere ratione, repellat voluptas labore harum pariatur recusandae non esse ipsa ad molestias doloribus eum ducimus?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ipsam dicta est, itaque natus facere ratione, repellat voluptas labore harum pariatur recusandae non esse ipsa ad molestias doloribus eum ducimus?</p>
        </div>
        <div class="w-full lg:w-1/2 animated-text">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrGh1C65cfBsWkyyOc3As6aqhjoicQgDzjptTjtdq9uw&s" alt="" width="100%">
        </div>
       
    </div>
  </section>
